@charset utf-8;

*
{
	margin:0;
	padding:0;
}

body
{
	text-align:center;
	font-size:12px;
	background:#e5e5e5;
	color:#333;
}

img
{
	border:none;
}

li
{
	list-style-type:none;
	overflow:hidden;
	padding:8px 0;
}

a
{
	color:#3a3a3a;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
}

a:hover
{
	color:#FF00;
}

header,nav,article,footer,section
{
	/* width:77%; */
	display:block;
	overflow:hidden;
	/* margin:auto; */
}

header
{
	width:auto;
	padding:12px 15%;
}

header h1,.header .logo
{
	margin:10px auto;
}

header a
{
	font:bolder 65px 华文行楷;
	color:#39F;
}

.search #kewords
{
	width:50%;
	height:36px;
	margin-bottom:2px;
	font-size:16px;
	border:solid 2px #46a4d6;
	color:#666;
	padding:8px;
}

.search #submit
{
	width:85px;
	margin-left:-3px;
	height:40px;
	font:bolder 14px Arial;
	color:#fff;
	border:none;
	background:url(/static/img/sub.gif) no-repeat -3px -1px;
	cursor:pointer;
}

.onsub
{
	background:url(images/sub.gif) no-repeat -3px -41px;
}

h2,h3
{
	font-size:12pt;
	padding:10px;
}

article ul
{
	width:24%;
	border-radius:0;
	border:solid 1px #ccc;
	background:#f5f5f5;
	zoom:1;
	display:inline;
	vertical-align:top;
	margin:3px;
}

article li
{
	width:90%;
	margin:auto;
}

.gs
{
	width:23%;
}

.gs li
{
	width:44%;
	zoom:1;
	display:inline;
	vertical-align:top;
}

ul:hover
{
	background:#F8FEF8;
}

li:hover
{
	background:#9CF;
	border-radius:5px;
	padding-left:0;
	cursor:pointer;
}

.gs li:hover
{
	padding-left:0;
}

.so
{
	font-size:14px;
}

.so span
{
	float:right;
	padding-right:10px;
}

.so ul
{
	text-align:left;
	border-bottom:dashed 1px #6C0;
	margin:15px;
	padding:8px;
}

.so li
{
	padding:4px;
}

.so a
{
	color:#0D5E99;
}

.so .gc
{
	background:#f5f5f5;
	font-size:12px;
	line-height:20px;
	border:dashed 1px #ccc;
	padding:10px;
}

.so b,.red
{
	color:red;
}

.so .ck
{
	color:#F63;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b
{
	color:#000;
	background:#6aa6ed;
	font-size:150%;
	padding:.1em .25em;
}
